body {
  background-color: #0e0f12;
  background: linear-gradient(180deg, #0e1211 0%, #013c3e 100%);
  height: 100vh;
  margin: 0;
  margin-top: 20px;
}

.home {
  background-color: #0e0f12;
  background: linear-gradient(180deg, #0e1211 0%, #013c3e 100%);
  width: 100vw;
  margin-left: -18px;
  margin-top: -8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  color: rgb(255, 255, 255);
  background-size: cover;
  border-radius: 15%;
  padding: 10px;
  margin-bottom: 10px;
}

.header_title {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.header_title img {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: #3e866c 1px solid;
  margin: 10px;
  margin-left: 45px;
}

.button {
  background-color: #3e866c;
  color: rgb(255, 255, 255);
  padding: 10px 28px;
  font-size: 15px;
  margin: 10px 5px 18px 0;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.button_refresh {
  padding: 12px;
  border: none;
  margin: 10px;
}

.image_refresh {
  width: 20px;
  height: 20px;
  display: block;
}

.button:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.button:active {
  background-color: rgb(3, 62, 43);
  color: rgb(255, 255, 255);
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(180deg, #121716 0%, #012b2c 100%);
}

.select {
  font: inherit;
  font: bolder;
  cursor: pointer;
  padding: 11px;
  background-color: rgba(3, 3, 3, 0);
  color: white;
  border: #3e866c 1px solid;
  margin: 10px;
  border-radius: 10px;
}

.select_options {
  font: inherit;
  font: bolder;
  cursor: pointer;
  padding: 5px;
  background-color: black;
  color: white;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60vh;
}

.image_loader {
  background-color: #ffffff;
  border-radius: 100%;
  border: #3e866c 1px solid;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    width: 50px;
    height: 50px;
    filter: brightness(0.1);
    transform: rotate(90deg);
  }
  50% {
    width: 100px;
    height: 100px;
    filter: brightness(1);
    transform: rotate(180deg);
  }
  100% {
    width: 200px;
    height: 200px;
    filter: brightness(2);
    transform: rotate(360deg);
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 26px;
  animation: show 2s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.footer_icons {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: 15px;
}

.footer_icons:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.buttons_footer {
  margin-right: 40px;
  margin-left: 12%;
}

@media screen and (max-width: 768px) {
  .home {
    height: 100vh;
    margin: 0;
    margin-left: -4px;
  }
  .header {
    width: 100%;
    margin-left: -25px;
  }
  .header_title {
    font-size: 12px;
  }
  .button {
    padding: 10px 15px;
    font-size: 12px;
    margin-top: 20px;
  }
  .filters {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    gap: 0px;
    position: static;
    font-size: 0.8rem;
  }
  .select {
    margin: 5px 0px 0px 3px;
    padding: 8px;
    width: 95%;
  }
  .filter_buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .footer {
    margin-left: 10px;
    font-size: 13px;
  }
  .loader {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1860px) {
  .filters {
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 0px;
    position: static;
    font-size: 0.8rem;
  }
}
