.search_form {
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.search_bar {
  font-size: 16px;
  font-weight: bold;
  width: 350px;
  height: 40px;
  border: #3e866c 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  color: white;
  padding-left: 10px;
}

.search_bar::-webkit-input-placeholder {
  color: white;
  font-weight: normal;
}

.button {
  background-color: #3e866c;
  cursor: pointer;
  border: #3e866c 1px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
}

.button:hover {
  transition: 0.5s;
  box-shadow: 0 0 10px #3e866c;
}

.icon {
  width: 24px;
  height: 23px;
  margin: 9px 5px 5px;
}

@media screen and (max-width: 768px) {
  .search_form {
    margin-left: 0;
  }
  .search_bar {
    width: 290px;
    margin-left: 3px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1860px) {
  .search_form {
    margin-left: 30px;
    width: 250px;
  }
  .search_bar {
    width: 250px;
  }
}
